@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.navbarTogglerActive > span:nth-child(1) {
  top: 7px;
  rotate: 45deg;
}
.navbarTogglerActive > span:nth-child(2) {
  opacity: 0%;
}
.navbarTogglerActive > span:nth-child(3) {
  top: calc(var(--spacing) * -2);
  rotate: 135deg;
}